.wrapper {
  width: 100%;
  text-align: center;
  .title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
  }

  .description {
    font-size: 1.2rem;
    color: #888;
    line-height: 1.6;
  }

  .team {
    margin-top: auto;
  }
}
